/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

/* purgecss end ignore */
@import 'tailwindcss/utilities';

html {
  font-size: 14pt;
}

.icon {
  width: 20px;
  display: inline;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

.animate-blink {
  animation:fade 1000ms infinite;
  -webkit-animation:fade 1000ms infinite;
}
